:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd; 
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 40rem;
    --item-min-height-md: 50rem;
}

.width--size{
    width: 95%;
    margin: 0 auto;
}
.Trips--container {
    margin-top: 6rem;
    width: 95%;
    margin:  0 auto;
}

.trips--image {
    border-radius: 5px;
    justify-self: center;
    margin-bottom: 1rem;
}

.tips--type {
    width: 95%;
    padding-top: 6rem;
}

.title {
    font-size: 1.15rem;
    /* margin-left: 1rem; */
}

.type--class {
    margin-top: 1rem;
    background: var(--secondary-background-color);
    padding: 7px 14px;
}

.type--detail {
    display: flex;
    justify-content: space-between;
}



.type {
    margin-bottom: 2rem; 
   
}

.button {
    background: var(--secondary-background-color);
    border: none;
    padding: 7px 14px;
    gap: .5rem;
    margin: .3rem;
}

 .button:hover {
    background: var(--primary-background-color);
    transition: .3s;
}

.type--text {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

@media (min-width:720px) {
    .tips--type {
        margin-top: 20rem;
    }
}

@media (min-width:960px) {

    .elements--container {
        width: 80%;
        margin: 0 auto;
    }

    .tips--type {
        padding-top: 10rem;
        
    }
}